<div class="container">
    <!--1-->
    <button ng-click="alert()">Click for alert</button>
    <br/>
    <!--2-->
    <input ng-model="createAlert" placeholder="create an alert">
    <button ng-click="alertMessage()">Create Alert</button>
    <br/>
    <!--3-->
    <div ng-mouseenter="changeColor()" ng-mouseleave="origColor()" id="coloredBox">Change my Color!</div>
    <br/>
    <!--4-->
    <p ng-click="randomColor()" id="coloredP">Click here to change colors randomly.</p>
    <br/>
    <!--5-->
    <button ng-click="addName()">Click to add name</button>
    <div id="name"></div>
    <br/>
    <!--6-->
    <button ng-click="addFriends()">Show Friends</button>
        <ul>
           <li ng-repeat="friend in friends">{{friend}}</li> 
        </ul>
    </br>
</div>